body {
    margin: 0;
}

hr {
    border: 1px solid #dd4814;
}

#quote-box {
    margin: 0 auto;
    max-width: 500px;
    padding: 40px;
    background-color: white;
    border: 2px solid #dd4814;
    border-radius: 20px;
}

#text-section {
    margin-bottom: 30px;
    background-color: white;
}

#text {
    text-align: center;
    font-size: 30px;
}

#author {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: cyan;
}

#link-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#new-quote {
    height: 30px;
    border: 1px solid cyan;
    outline: none;
    border-radius: 10px;
    background-color: white;
}

#tweet-quote {
    text-decoration: none;
    color: #1DA1F2;
    outline: none;
}